@use 'config';
@use 'utility';
@use 'component';

:root {
  --gap: var(--size-2);
  --gap-fluid: var(--size-fluid-1);
}

body {
  display: grid;
  place-items: center;
  padding: var(--gap);
  gap: var(--gap);
}

main,
article,
section,
form,
fieldset,
header,
footer,
blockquote {
  display: grid;
  gap: var(--gap);
}

[aria-hidden='true'] {
  pointer-events: none;
}
