#skip-to-content {
  --indent: 0.5em;
  position: absolute;
  top: -100%;
  inline-size: max-content;
  display: grid;
  place-items: center;

  :focus-visible {
    top: 0;
    margin-inline-start: var(--indent);
    margin-block-start: var(--indent);
  }

  img {
    min-inline-size: var(--size-5);
  }
}
